<h1>Listing Bowling Associations</h1>
<%= link_to 'Add Bowling association', new_bowling_association_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bowling_associations.each do |bowling_association| %>
    <tr>
      <td><%= bowling_association.name %></td>
      <td>
          <%= link_to 'Show', bowling_association %>
          <%= link_to 'Edit', edit_bowling_association_path(bowling_association) %>
          <% if master? %>
          <li><%= link_to 'Delete!!!', bowling_association, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />


