<h1>Listing Bowling Associations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bowling_associations.each do |bowling_association| %>
    <tr>
      <td><%= bowling_association.name %></td>
      <td>
        <ul id="menu">
          <li><%= link_to 'Show', bowling_association %></li>
          <li><%= link_to 'Edit', edit_bowling_association_path(bowling_association) %></li>

          <% if master? %>
          <li><%= link_to 'Destroy', bowling_association, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bowling association', new_bowling_association_path %>
