<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bowler_id %><br />
    <%= f.collection_select(:bowler_id, Bowler.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
<!--
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
-->
  <%= f.hidden_field :user_id, value: current_user.id%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
