
<div class="title">
  <h1 class="games_title">Recorded Games</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Bowler</th>
      <% if master? %>
       <th>Notes</th>
       <th>Recorded By</th>
      <% end %>
      
      <th>Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
  <tr class=<%=cycle 'o', 'e'%>>
      <td><%= game.score %></td>
      <td><%= game.bowler %></td>
      <% if master? %>
      <td><%= game.notes %></td>
      <td><%= game.user %></td>
      <% end %>
      
      <td>
        <%= link_to 'Edit', edit_game_path(game) %>
        <%= link_to 'Delete!!!', game, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>


  </tbody>
</table>
<% if @squad_entry %>
  <%= link_to 'Back', @back_path %>
  <%= link_to 'Add Game', new_squad_entry_game_path(@squad_entry) %>
<% end %>
