
<div class="title">
  <h1 class="games_title">Recorded Games</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Bowler</th>
      <th>Notes</th>
      <th>Recorded By</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.score %></td>
      <td><%= game.bowler %></td>
      <td><%= game.notes %></td>
      <td><%= game.user %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<% if @squad_entry %>
<%= link_to 'Back', squad_path(@squad_entry.squad) %>
<% end %>