<%= form_for(@squad_entry) do |f| %>
  <% if @squad_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@squad_entry.errors.count, "error") %> prohibited this squad_entry from being saved:</h2>

      <ul>
      <% @squad_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "Division/Class" %><br />
    <%= f.select(:category, [['OPEN','O'],['CLASS A','A'],['Class B','B'], ['Class C','C']])%>
  </div>
  <%= f.hidden_field :entry_type, value: @squad_entry.entry_type %>

<%  (1..@number_of_bowlers).each do |i| %>
   <div class="field">
         <%= f.label "Bowler #{i}" %>:
         <%= collection_select(:bowlers, i, Bowler.all, :id, :name)%></br>
    </div>
<%  end %>


  <%= f.hidden_field :squad_id, value: @squad.id %>
  <%= f.hidden_field :user_id, value: current_user.id%>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
