<h1>Listing squad_entries</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Entry type</th>
      <th>Bowlers</th>
      <th>Squad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @squad_entries.each do |squad_entry| %>
    <tr>
      <td><%= squad_entry.category %></td>
      <td><%= squad_entry.entry_type %></td>
      <td><%= squad_entry.bowlers %></td>
      <td><%= squad_entry.squad %></td>
      <td><%= link_to 'Show', squad_entry %></td>
      <td><%= link_to 'Edit', edit_squad_entry_path(squad_entry) %></td>
      <td><%= link_to 'Destroy', squad_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Squad entry', new_squad_entry_path %>
