<%=javascript_tag do %>

$(document).ready(function(){
	$(':input:visible:first').focus();

});


<% end %>

<div class="title"><h1 class="games_title">Record New Game</h1></div>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>Error in saving games:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="error_explanation hidden">
  	<h2>There are one or more invalid game entries. Remember the following rules:</h2>
  	<ul>
  		<li>Score should not be blank</li>
  		<li>Score should not be a positive number</li>
  		<li>Score cannot be more than 300</li>
  	</ul>
  </div>
  

<%= form_tag(create_squad_entry_game_path(@game_form.squad_entry), method: "post") do %>
	<table id="bowlers">
		<tr>
			<th>Bowler Name</th>
			<th class="ave_column">Average</th>
			<th>HDCP</th>
			<%  (1..@game_form.number_of_games).each do |i| %>
			<th>Game <%=i%></th>
			<% end %>

		</tr>
		<% @game_form.bowlers.each do | bowler | %>
			<tr>
				<td><%=bowler.full_name%></td>
				<td><%=bowler.pbc_average%></td>
				<td class="hdcp_input"><%= number_field_tag("bowler_#{bowler.id}_hdcp", nil, class: "game_hdcp", value: "0")%>
				
				<%  @game_form.games.each do |g| %>
				<td class="game_input">
					<%= number_field_tag("bowler_#{bowler.id}_game_#{g.id}", nil, class: "game_field")%>
				</td>
				<% end %>

				
			</tr>
		<% end %>
	</table>
	  <div class="actions">
	    <%= submit_tag("Save Game", id: "submit_game" ) %>
	  </div>
<% end %>
