<div class="title"><h1 class="games_title">Record New Game</h1></div>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<%= form_tag(create_squad_entry_game_path(@squad_entry), method: "post") do %>
	<table id="bowlers">
		<tr>
			<th>Bowler Name</th>
			<%  (1..@squad_entry.game_type.number_of_games).each do |i| %>
			<th>Game <%=i%></th>
			<% end %>

		</tr>
		<% @squad_entry.bowlers.each do | bowler | %>
			<tr>
				<td><%=bowler.name%></td>
				
				<%  (1..@squad_entry.game_type.number_of_games).each do |i| %>
				<td class="game_input">
					<%= number_field_tag("bowler_#{bowler.id}_game_#{i}")%>
				</td>
				<% end %>

				
			</tr>
		<% end %>
	</table>
	  <div class="actions">
	    <%= submit_tag("Save Game") %>
	  </div>
<% end %>
