
<div class="title">
  <div class="games_title">
    <span>Recorded Games</span>
    <%=link_to('(Add Game)', new_squad_entry_game_path(@squad_entry), class: 'add') if (!@squad_entry.has_games? && current_user.encoder?) %>
  </div>
</div>

<%=link_to 'Delete All Games', squad_entry_delete_games_path(@squad_entry), method: :delete, data: { confirm: 'Delete All Games?'} if encoder? && @squad_entry.has_games?%>

<% if @squad_entry.has_games? %>

  <table id="bowlers">
    <tr>
          <th>Bowler Name</th>
      <%  (1..@squad_entry.games_recorded).each do |i| %>
          <th>Game <%=i%></th>
      <% end %>
          
    </tr>

  <% @squad_entry.bowlers.each do | bowler | %>
      <tr>
          <td><%=bowler%></td>
        <% @squad_entry.games_of_bowler(bowler.id).each do | game| %>
          <td><%="#{game.score}"%></td>
        <% end %>
      </tr>
  <% end %>
  </table>
<% else %>

  <table id="bowlers">
    <th>No Games In Record - <%= link_to('(Add Game)', new_squad_entry_game_path(@squad_entry)) if current_user.encoder? %></th>
  </table>
<% end %>

