<tr>
  <td><%= bowler.name %></td>
  <td><%= bowler.middle_name %></td>
  <td><%= bowler.last_name %></td>
  <td><%= bowler.gender %></td>
  <td><%= bowler.bowling_association %></td>
  <td><%= bowler.pbc_classification %></td>
  <td><%= bowler.latest_average || "No Average Entry"%></td>

  <% if admin? %>
  <td><%= link_to 'Update Average', new_average_entry_path(bowler) %></td>
  <td><%= link_to 'Edit', edit_bowler_path(bowler) %></td>
  <td><%= link_to 'Delete', bowler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>