<%= form_for(@bowler) do |f| %>
  <% if @bowler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bowler.errors.count, "error") %> prohibited this bowler from being saved:</h2>

      <ul>
      <% @bowler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Association </th>
      <th>PBC Classification </th>
      <th>PBC Average </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :middle_name %></td>
      <td><%= f.text_field :last_name %></td>
      <td><%= f.select(:gender, [['M','M'],['F','F']])%></td>
      <td><%= f.collection_select(:bowling_association_id, BowlingAssociation.all, :id, :name)%></td>
      <td><%= f.collection_select(:pbc_classification_id, BowlerClass.all, :id, :name)%></td>
      <td><%= f.text_field :pbc_average%></td>
      <td>
          <div class="actions">
            <%= f.submit %>
          </div>
      </td>
    </tr>
  </tbody>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
