<tr id="new_bowler_row" class="hidden">
<%= form_for(@bowler, remote:true) do |f| %>

      <td><%= f.text_field :name %></td>
      <td><%= f.select(:gender, [['M','M'],['F','F']])%></td>
      <td><%= f.collection_select(:bowling_association_id, BowlingAssociation.all, :id, :name)%></td>
      <td><%= f.collection_select(:pbc_classification_id, BowlerClass.all, :id, :name)%></td>
      <td><%= f.number_field :pbc_average%></td>
      <td>
          <div class="actions">
            <%= f.submit %>
          </div>
      </td>
      <td><%=link_to 'Hide', '', id: 'hide_new_bowler_row_link'%></td>
      <td></td>
<% end %>
</tr>