<h1>Listing bowlers</h1>
<%= link_to('New Bowler', new_bowler_path) if admin?%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Association </th>
      <th>Average</th>
      <%if admin? %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @bowlers.each do |bowler| %>
    <tr>
      <td><%= bowler.name %></td>
      <td><%= bowler.gender %></td>
      <td><%= bowler.bowling_association %></td>
      <td><%= bowler.latest_average %></td>

      <% if admin? %>
      <td><%= link_to 'Update Average', new_average_entry_path(bowler) %></td>
      <td><%= link_to 'Show', bowler %></td>
      <td><%= link_to 'Edit', edit_bowler_path(bowler) %></td>
      <td><%= link_to 'Delete', bowler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to('New Bowler', new_bowler_path) if admin?%>
