<%= javascript_tag do %>


$(document).ready(function() {
  bind();
});





<% end %>



<h1>Listing bowlers</h1>
<%= link_to('(n) - New Bowler', new_bowler_path, remote: true, id: "new_bowler_link") if admin?%>
<%= link_to('(s) - Search Bowler', '', id: "search_bowler_link")%>
</br>

<%= form_tag bowlers_path, :method => 'get', id: 'search_form', class: 'hidden' do %>
  <p>
    <%= label_tag(:search, "Bowler Name: ")%>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</br>
<%= will_paginate @posts %>
<table id="bowlers_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Association </th>
      <th>PBC Classification </th>
      <th>Average</th>
      <%if admin? %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <%= render @bowlers %>    
  </tbody>
</table>
<%= will_paginate @posts %>
<br />

<%= link_to('New Bowler', new_bowler_path) if admin?%>
