<h2>Squad Entries By <%=@bowler.name%></h2>
<h3>Total Entries: <%=@squad_entries.count%></h3>
<div class="report">
  <table>
      <thead>
        <tr>
          <th>Squad</th>
          <th>Game Type</th>
          <th>Division</th>
          <th>Total Pinfalls</th>
          <th>Bowlers</th>
          <% if encoder? %>
          <th>Action</th>
          <% end %>
        </tr>
    </thead>
 <tbody>
  <%@squad_entries.each do | squad_entry |%>
    <tr>
      <td><%= link_to squad_entry.squad, squad_entry_path(squad_entry)%></td>
      <td><%=squad_entry.game_type%></td>
      <td><%=squad_entry.category%></td>
      <td><%=squad_entry.total_pinfalls%></td>
      <td><%=squad_entry.bowler_names%></td>
      <% if encoder? %>
      <td><%= link_to('Add Game', new_squad_entry_game_path(squad_entry)) unless squad_entry.has_games? %> </td>
      <% end %>
    </tr>
  <%end%>
   </tbody>
</table>

