<h1>Listing Squads</h1>

<table>
  <thead>
    <tr>
      <th>Squad Name</th>
      <th>Time</th>
      <th>Tournament</th>
      <th>Created By User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |squad| %>
    <tr class=<%=cycle 'o', 'e'%>>
      <td><%= squad.name %></td>
      <td><%= squad.time %></td>
      <td><%= squad.tournament.name %></td>
      <td><%= squad.user.email %></td>
      <td><%= link_to 'Show', squad %></td>
      <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
      <td><%= link_to 'Delete!!!', squad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Back to Tournaments', tournaments_path %>
