<div class="title">
  <div class="squad_title">
    <span>SQUADS</span>
    
      <%= link_to '(Add New Squad)', new_squad_path(@tournament), class:'add' %>
    

  </div>
</div>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Squad Name</th>
      <th>Squad Time</th>
      <th>Add Entry</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @squads.each do |squad| %>
    <tr class=<%=cycle 'o', 'e'%>>
      <td><%= link_to "Show Entries (#{squad.squad_entries.size})", squad %></td>
      <td><%= squad.name %></td>
      <td><%= squad.time.to_s(:squad_time) %></td>
      <td>
        <div class="actions">
              <ul class="actions">
                <li><%= link_to 'Singles', new_squad_entry_path(squad, 'Singles') %></li>
                <li><%= link_to 'Doubles', new_squad_entry_path(squad, 'Doubles') %></li>
                <li><%= link_to 'Team', new_squad_entry_path(squad, 'Team') %></li>
              </ul>
        </div>
      </td>
      <td><%= link_to 'Edit', edit_squad_path(squad) %></td>
      <td><%= link_to 'Delete!!!', squad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="page_nav">
<%= link_to 'New Squad', new_squad_path(@tournament), class:'new_link' %><br/>
</div>