
	
<div class="title"><div class="entries_title">Entries</div></div>

<div class="page_nav">
<%= link_to 'Back', tournament_squads_path(selected_tournament), class: 'back_link' %>
</div>

<table id="squad_entries_table">
<tr>
	<th>Game Type</th>
	<th>Division</th>
	<th>Bowler(s)</th>
	<th>Games</th>
	<th>Total</th>
	<th>Actions</th>
</tr>

<% @squad.squad_entries.sort!.each do | squad_entry |%>
<tr class=<%=cycle 'o', 'e'%>>
	<td><%= squad_entry.entry_type %></td>
	<td><%= squad_entry.category %></td>
	<td><%= squad_entry.bowler_names %></td>
	<td><%= squad_entry.games.size%> <%= link_to 'Show', squad_entry_games_path(squad_entry)%></td>
	<td><%= squad_entry.total_pinfalls%></td>
	<td><%= link_to 'Add Game Score', new_squad_entry_game_path(squad_entry) %>, 
	     <%= link_to 'Delete', squad_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>

<% end %>

</table>
<div class="actions">
  <ul class="actions">
  	<li class="action_title">Add New:</li>
  	<li><%= link_to 'Singles', new_squad_entry_path(@squad, 'Singles') %></li>
    <li><%= link_to 'Doubles', new_squad_entry_path(@squad, 'Doubles') %></li>
    <li><%= link_to 'Team', new_squad_entry_path(@squad, 'Team') %></li>
  </ul>
</div>
<div class="page_nav">
<%= link_to 'Back', tournament_squads_path(selected_tournament), class: 'back_link' %>
</div>