<%=javascript_tag do %>
$(document).ready(function (){
	$('.entries_actions a').on('click', function (){
		$('#loading_form').show();
		$('.entries_actions').hide();
		$('.entries_actions_disabled').show();

		squadsJS_removeNewRow();

    });
});
<% end %>
<%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"%>

<div class="title">
	<div class="entries_title">


		<div id="categories">
			<span>Division:</span>
	        <%= collection_select(:tournament, :bowlers_class_name , @presenter.bowler_classes, :to_css_class, :name, {:selected => to_css(session[:bowler_class_name])})%>
	        <span>Game:</span>
	        <%= collection_select(:tournament, :game_type_name     , @presenter.game_types   , :to_css_class, :name, {:selected => session[:game_type_name]})%>
	    </div>

		 <% if current_user.encoder? %>
			<div class="entries_actions">
				Add: (
		        	<% @presenter.game_types.each do |game_type|%>
		            	<!--%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %-->
		            	<%= link_to "#{game_type.name}", new_squad_entry_path(@squad, game_type.id), remote: true %>
		        	<% end %>
				)
		   </div>

			<div class="entries_actions_disabled hidden">
				Add: (
		        	<% @presenter.game_types.each do |game_type|%>
		            	<!--%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %-->
		            	<%= game_type.name%>
		        	<% end %>
				)
		   </div>
		<% end %>
	</div>
</div>

<div id="notice"></div>

<table id="squad_entries_table">
<tr id="header_row">
	<th></th>
	<th>Game Type</th>
	<th>Division</th>
	<th>Bowler(s)</th>
	<th>Games</th>
	<th>Total</th>
	 <% if current_user.encoder? %><th>Actions</th><%end%>
</tr>

<tr id="adding" class="hidden">
	<td colspan="7">Adding entry...</td>
</tr>
<tr id="loading_form" class="hidden">
	<td colspan="7">Loading...</td>
</tr>


<% @presenter.squad_entries.each do | squad_entry |%>

<tr class="data <%=css(squad_entry)%> <%=cycle 'o', 'e'%>">
	<td><%= link_to 'Show Games', squad_entry_path(squad_entry)%></td>
	<td><%= squad_entry.game_type %> 

	</td>
	<td><%= squad_entry.category %></td>
	<td><%= squad_entry.bowler_names %></td>
	<td><%= squad_entry.games.size%></td>
	<td><%= squad_entry.total_pinfalls%></td>
	 <% if current_user.encoder? %>
	<td>

		<%= link_to('Add Game', new_squad_entry_game_path(squad_entry)) unless squad_entry.has_games? %> 
	    <%= link_to 'Delete', squad_entry, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin?%></td>
    <% end %>
</tr>

<% end %>

</table>
