<div class="title">
	<div class="entries_title">
		<span>Entries</span>

			<div class="entries_actions">
		Add: (

        <% @squad.tournament.game_types. each do |game_type|%>
            <%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %>
        <% end %>
		)
		   </div>
	</div>
</div>

<table id="squad_entries_table">
<tr>
	<th></th>
	<th>Game Type</th>
	<th>Division</th>
	<th>Bowler(s)</th>
	<th>Games</th>
	<th>Total</th>
	<th>Actions</th>
</tr>

<% @squad.squad_entries.sort!.each do | squad_entry |%>

<tr class="<%=cycle 'o', 'e'%><%=" updated" if @updated_squad_entry && @updated_squad_entry.id == squad_entry.id%>">
	<td><%= link_to 'Show', squad_entry_path(squad_entry)%></td>
	<td><%= squad_entry.game_type %> 

	</td>
	<td><%= squad_entry.category %></td>
	<td><%= squad_entry.bowler_names %></td>
	<td><%= squad_entry.games.size%></td>
	<td><%= squad_entry.total_pinfalls%></td>
	<td>

		<%= link_to('Add Game', new_squad_entry_game_path(squad_entry)) unless squad_entry.has_games? %> 
	    <%= link_to 'Delete', squad_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>

<% end %>

</table>
