
<div class="title">
	<div class="entries_title">


		<div id="categories">
			<span>Division:</span>
	        <%= collection_select(:tournament, :bowlers_class_name , @presenter.bowler_classes, :to_css_class, :name, {:selected => BowlerClass.convert_to_css(session[:bowler_class_name])})%>
	        <span>Game:</span>
	        <%= collection_select(:tournament, :game_type_name     , @presenter.game_types   , :name, :name, {:selected => session[:game_type_name]})%>
	    </div>

		 <% if current_user.admin? %>
			<div class="entries_actions">
				Add: (
		        	<% @squad.tournament.game_types. each do |game_type|%>
		            	<%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %>
		        	<% end %>
				)
		   </div>
		<% end %>
	</div>
</div>

<table id="squad_entries_table">
<tr>
	<th></th>
	<th>Game Type</th>
	<th>Division</th>
	<th>Bowler(s)</th>
	<th>Games</th>
	<th>Total</th>
	 <% if current_user.admin? %><th>Actions</th><%end%>
</tr>

<% @presenter.squad_entries.each do | squad_entry |%>

<tr class="data <%=css(squad_entry)%> <%=cycle 'o', 'e'%>">
	<td><%= link_to 'Show', squad_entry_path(squad_entry)%></td>
	<td><%= squad_entry.game_type %> 

	</td>
	<td><%= squad_entry.category %></td>
	<td><%= squad_entry.bowler_names %></td>
	<td><%= squad_entry.games.size%></td>
	<td><%= squad_entry.total_pinfalls%></td>
	 <% if current_user.admin? %>
	<td>

		<%= link_to('Add Game', new_squad_entry_game_path(squad_entry)) unless squad_entry.has_games? %> 
	    <%= link_to 'Delete', squad_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>

<% end %>

</table>
