<%=javascript_tag do %>
$(document).ready(function (){
	$('.entries_actions a').on('click', function (){
		$('#loading_form').show();
		$('.entries_actions').hide();
		$('.entries_actions_disabled').show();

		squadsJS_removeNewRow();

    });
});
<% end %>
<%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"%>

<div class="title">
	<div class="entries_title">


		<div id="categories">
			<span>Division:</span>
	        <%= collection_select(:tournament, :bowlers_class_name , @presenter.bowler_classes, :to_css_class, :name, {:selected => to_css(session[:bowler_class_name])})%>
	        <span>Game:</span>
	        <%= collection_select(:tournament, :game_type_name     , @presenter.game_types   , :to_css_class, :name, {:selected => session[:game_type_name]})%>
	    </div>

		 <% if current_user.encoder? %>
			<div class="entries_actions">
				Add: (
		        	<% @presenter.game_types.each do |game_type|%>
		            	<!--%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %-->
		            	<%= link_to "#{game_type.name}", new_squad_entry_path(@squad, game_type.id), remote: true %>
		        	<% end %>
				)
		   </div>

			<div class="entries_actions_disabled hidden">
				Add: (
		        	<% @presenter.game_types.each do |game_type|%>
		            	<!--%= link_to game_type.name, new_squad_entry_path(@squad, game_type.id) %-->
		            	<%= game_type.name%>
		        	<% end %>
				)
		   </div>
		<% end %>
	</div>
</div>

<div id="notice"></div>

<table id="squad_entries_table">
<tr id="header_row">
	
	
	<th id="bowler_category_header">Bowlers - <%="#{@game_type} #{@category}"%> Division</th>
	<th id="game_type_header">Games</th>
	<th>Total</th>
	 <% if current_user.encoder? %><th>Actions</th><%end%>
</tr>

<tr id="adding" class="hidden">
	<td colspan="4">Adding entry...</td>
</tr>
<tr id="loading_form" class="hidden">
	<td colspan="4">Loading...</td>
</tr>


<%= render @presenter.squad_entries%>


</table>
