<h1><%= @squad.tournament.name %></h1>

<h2>Entries for Squad: <%= @squad.name %></h2>

<strong>Squad Roll-off <%= @squad.time.to_s(:squad_time) %></strong>

<table id="squad_entries_table">
<tr>
	<th>Game Type</th>
	<th>Division</th>
	<th>Bowler(s)</th>
</tr>

<% @squad.squad_entries.each do | squad_entry |%>
<tr>
	<td><%= squad_entry.entry_type %></td>
	<td><%= squad_entry.category %></td>
	<td><%= squad_entry.bowler_names %></td>
</tr>

<% end %>

</table>
Add New:
<%= link_to 'Singles', new_squad_entry_path(@squad, 'Singles') %>, 
<%= link_to 'Doubles', new_squad_entry_path(@squad, 'Doubles') %>,
<%= link_to 'Team',    new_squad_entry_path(@squad, 'Team') %>

