<h1>Listing average_entries</h1>

<table>
  <thead>
    <tr>
      <th>Average</th>
      <th>Bowler</th>
      <th>Entered By</th>
      <th>Record date</th>
      <th>Last Update</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @average_entries.each do |average_entry| %>
    <tr>
      <td><%= average_entry.average %></td>
      <td><%= average_entry.bowler.name %></td>
      <td><%= average_entry.user.email %></td>
      <td><%= average_entry.created_at %></td>
      <td><%= average_entry.updated_at %></td>
      <td><%= link_to 'Show', average_entry %></td>
      <td><%= link_to 'Edit', edit_average_entry_path(average_entry) %></td>
      <td><%= link_to 'Destroy', average_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />


