<p id="notice"><%= notice %></p>

<p>
  <strong>Average:</strong>
  <%= @average_entry.average %>
</p>

<p>
  <strong>Bowler:</strong>
  <%= @average_entry.bowler.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @average_entry.user.email %>
</p>

<%= link_to 'Edit', edit_average_entry_path(@average_entry) %> |
<%= link_to 'Back', bowlers_path %>
