<h2 class="squad_title">Reports</h2>

<h3>Rankings</h3>
<table>
  <tr>
    <th></th>
    <% selected_tournament.game_types.each do | game_type | %>
    <th><%=game_type%></th>
    <% end %>
  </tr>

<% BowlerClass.all.each do | category | %>
<tr>
  <td>
  <%=category.name%>
  </td>
    <% selected_tournament.game_types.each do | game_type | %>
    <td>
        <% selected_tournament.squad_entriesx(game_type, category.name).limit(3).each do | squad_entry | %>
          <div><%="#{squad_entry.total_pinfalls} #{squad_entry.bowler_names}"%></div>
        <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
<h3>Entries Per Bowling Association</h3>

<div class="report">
  <table>
      <thead>
        <tr>
          <th>Associations</th>
          <th>Number of Entries</th>
          <th>Action</th>
        </tr>
    </thead>
 <tbody>
  <%@bowling_associations.each do | ass |%>
    <tr>
      <td><%=ass.name%></td>
      <td><%=link_to selected_tournament.bowling_association_entries(ass).count, reports_show_entries_path(ass)%></td>
      <td><%=link_to 'Show Entries Per Bowler', reports_show_entries_path(ass)%></td>
    </tr>
  <%end%>
   </tbody>
</table>
</div>


