<!DOCTYPE html>
<html>
<head>
  <title>Bowling Tournament Director</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless params[:controller] == 'sessions' && params[:action] == 'new' %>
<div id="user_info" class="nav_text">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>
<% end %>

<div id="top_nav" class="title nav_text">

    <%if selected_tournament%>
      <div id="tournament_title">
        <%=link_to selected_tournament, tournament_select_path(selected_tournament)%>
      </div>
    <%end%>


    <% if logged_in? %>
      <div id="navigation">

        <ul id="menu">
          <% if master? %>
            <li><a href="">MASTER</a>
              <ul>
                <li><%= link_to "Manage Users", users_url%></li>
                <li><%= link_to "Game Types", game_types_path%></li>
                <li><%= link_to 'Show Tournaments', tournaments_path %></li>
              </ul>
            </li>
          <% end %>

          <% if admin? %>
            <li><a href="">ADMIN</a>
              <ul>
              <li><%= link_to "Manage Bowling Associations", bowling_associations_path %></li>
              <li><%= link_to "Add/Update Bowler Data", bowlers_path %></li>
              <li><%=link_to 'Generate Tournament Reports', reports_path %></li>
              <li><%=link_to 'View User Activities', activities_path %></li>
              </ul>
            </li>
          <% end %>

          <li><li><%=link_to 'RANKING', show_ranking_reports_path %></li>

          <li><%=link_to 'SQUADS', tournament_select_path(selected_tournament) %>
            <ul>
                <li><%=link_to 'Show All Squads', tournament_select_path(selected_tournament) %></li>
                <li><%=link_to 'Add New Squad', new_squad_path %></li>
            </ul>
          </li>
          <li><%=link_to 'Search Bowler Entries', search_entries_bowlers_path %></li>
          <li><%=link_to 'Other Tournaments', tournaments_path %></li>
          

    <!--
          <% current_user.tournaments.each do |tournament| %>
            <li><%= link_to tournament.name, tournament_select_path(tournament) %>
              <ul>
                <li><%= link_to 'Show Squads', tournament_select_path(tournament) %></li>
              </ul>
            </li>

          <% end %>
    -->

        </ul>
      </div>
    <% end %>



</div>

<% if selected_squad %>
  <div id="squad_title" class="header_level_2 blue_links">
    <div><%=link_to selected_squad, squad_path(selected_squad.id) %></div>
    <div class="roll_off_info">Roll-off: <%= selected_squad.time.to_s(:squad_time) %></div>
  </div>

<% if selected_squad_entry %>
  <div class="header_level_3 blue_links">
    <%=link_to selected_squad_entry, squad_entry_path(selected_squad_entry) %>
  </div>
<% end %>

<% end %>



<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, :id => "flash_#{name}") unless (name == :updated_squad_entry_id || name == :create_notice) %>
<% end %>

<div class="main_content">
  <%= yield %>
</div>

</body>
</html>
