<!DOCTYPE html>
<html>
<head>
  <title>Tournament Director</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% if logged_in? %>
  <div id="navigation">

    <ul id="menu">
      <% if master? %>
        <li><a href="">MASTER</a>
          <ul>
            <li><%= link_to "Manage Users", users_url%></li>
          </ul>
        </li>
      <% end %>

      <% if admin? %>
        <li><a href="">Administration</a>
          <ul>
          <li><%= link_to "Associations", bowling_associations_path %></li>
          <li><%= link_to "Bowlers", bowlers_path %></li>
          </ul>
        </li>
      <% end %>


      <% if master? %>


        <li><%= link_to "Tournaments", tournaments_path %>
            <ul>
              <li><%= link_to 'Show Tournaments', tournaments_path %></li>
            </ul>
        </li>
      <% end %>


      <% current_user.tournaments.each do |tournament| %>
        <li><%= link_to tournament.name, tournament_squads_path(tournament) %>
          <ul>
            <li><%= link_to 'Show Squads', tournament_squads_path(tournament) %></li>
          </ul>
        </li>

      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">

    <%if selected_tournament%>
    <span class="tournament_title">
      <%=link_to selected_tournament, tournament_squads_path(selected_tournament)%>
      <span id='ranking_link'><%=link_to 'Show Ranking', reports_show_ranking_path %></span>
    </span>
    <%end%>

    <% if selected_squad %>
      <div class="squad_title">
        <%=link_to selected_squad, squad_path(selected_squad.id) %>
        <div class="roll_off_info">Roll-off <%= selected_squad.time.to_s(:squad_time) %></div>
      </div>
    <% end %>

    <% if selected_squad_entry %>
      <div class="entries_title">
        <%=link_to selected_squad_entry, squad_entry_path(selected_squad_entry) %>
      </div>
    <% end %>

</div>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div class="main_content">
  <%= yield %>
</div>

</body>
</html>
